
#veanalyze -allow_CVD 

#veanalyze -allow_IVM         

 
veanalyze  GAM_package.sv       
   

veanalyze ALU.sv  mux.sv  demux.sv upcounter.sv comparator.sv 


veanalyze Memory_Layer_memory.sv Memory_Layer_connection_memory.sv Memory_Layer_node_counter.sv 

veanalyze 2min_finder.sv  calculate_W_Th.sv ED_calculator.sv 

veanalyze  Memory_Layer_controller.sv Memory_Layer_datapath.sv Memory_Layer.sv auto_associative_recall.sv 

veanalyze GAM_verification_tb.sv 
 
#declare top level module   
rtlc -allow_IVM                

comp -top GAM_verification_tb

 
#declaring single step compile flow 
comp -single_step
   
#solo is D1s
comp -platform D1S 
 
comp -num_boards 1

comp -app legacy        